/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Variables */
:root {
    --main-color: #ff3e66;
    --alt-color: #0e1133;
    --pragraph-color: #505056;
    --alt-background: #eef1f6;
    --transition: 0.3s;
}

/* Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Common Classes */


/* Common Elements */
.main-header {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: var(--alt-color);
}

.main-header + p {
    color: #777;
}

/* Start Header section */
header {    background-color: var(--alt-background);}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 5.149375rem;
}

.logo img {
    width: 6rem;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

@media (max-width: 767px) {
    nav {
        justify-content: flex-end;
    }
    header nav ul {
        display: none;
    }
}

nav ul li a {
    display: block;
    color: var(--alt-color);
    padding: 2rem 1.5rem;
}

nav div {
    display: flex;
    align-items: center;
}

nav button {
    background-color: var(--main-color);
    color: white;
    padding: 0.6rem 1.3rem;
    border: none;
    border-radius: 4rem;
    font-weight: 500;
}

@media (max-width: 991px) {
    nav button {
        margin-right: 1.4rem;
        padding: 0.7rem 0.5rem;
        font-size: 0.8rem;
    }
}

.toggle-menu {
    font-size: 1.4rem;
} 

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
/* End Header section */

/* start landing section */
.landing {
    padding: 5rem 0;
    background-color: var(--alt-background);
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--alt-color);
}

.landing-content {
    flex-basis: 50%;
    align-self: flex-start;
}

.landing-content .text h1 {
    font-weight: normal;
    font-size: 4rem;
}

.landing-content .text p {
    margin: -1.5rem 0 2.3rem;
    font-size: 1.15rem;
}

.form {
    position: relative;
}

.form i.env {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.4rem;
    color: #d4cbce;
    font-weight: normal;
    font-size: 1.2rem;
}

.form input[type="email"] {
    background-color: white;
    padding: 1.3rem 3rem;
    border-radius: 5rem;
    border: none;
    width: 25rem;
    border-left: 3px solid var(--main-color);
}

.form i::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f061';
    font-weight: 900;
    position: absolute;
    color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    left: 21rem;
}

@media (max-width: 767px) {
    .form i::after {
        left: 15rem;
    }
    .form input[type="email"] {
        width: 20rem;
    }
}

.form input[type="email"]:focus {
    outline: none;
}

.landing-content .text h1 span {
    font-weight: bold;
}

.people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

.people-images {
    display: flex;
    padding-right: 4rem;
}

.people-images img {
    width: 3rem;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: -1rem;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
}

.feedback p:last-child {
    font-size: 0.9rem;
}

.landing-img {
    flex: 1;
    position: relative;
}

.landing-img img {
    width: 45rem;

}
/* end landing section */

/* Start features section */
.features {
    padding: 3rem 0;
    background-color: white;
}

.sec-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn {
    background-color: white;
    border: none;
    border: 1px solid #777;
    padding: 0.8rem 2.5rem 0.8rem 1.6rem;
    border-radius: 4rem;
    transition: var(--transition);
    position: relative;
}

.btn::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f061';
    font-weight: 900;
    position: absolute;
    padding-left: 0.8rem;
}

.btn:hover {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}

@media (max-width: 767px) {
    .sec-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .btn {
        margin-top: 3rem;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.cards .card {
    border: 1px solid #d4d1d1;
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: 1s;
}

.cards .card i {
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
    transition: var(--transition);
    /* position: relative; */
}

.cards .card:first-child > i,
.cards .card:first-child:hover {
    background-color: #2facfc;
    /* color: #2facfc; */
}

.cards .card:nth-child(2) > i,
.cards .card:nth-child(2):hover {
    background-color: #ea4d89;
    /* color: #ea4d89; */
}

.cards .card:nth-child(3) > i,
.cards .card:nth-child(3):hover {
    background-color: #3679ff;
    /* color: #3679ff; */
}

.cards .card:nth-child(4) > i,
.cards .card:nth-child(4):hover {
    background-color: #f67842;
    /* color: #f67842; */
}

.cards .card:nth-child(5) > i,
.cards .card:nth-child(5):hover {
    background-color: #6b88f7;
    /* color: #6b88f7; */
}

.cards .card:nth-child(6) > i,
.cards .card:nth-child(6):hover {
    background-color: #3bb094;
    /* color: #3bb094; */
}

/* .cards .card:hover i {
    background-color: white;
} */

.cards .card h3 {
    color: var(--alt-color);
    margin-bottom: 0.7rem;
    transition: var(--transition);
}

.cards .card p {
    color: var(--pragraph-color);
    line-height: 1.7;
}

.cards .card:hover h3, .cards .card:hover p {
    color: white;
}

.cards .card a {
    display: block;
    font-weight: 500;
    color: var(--pragraph-color);
    margin-top: 2rem;
    position: relative;
    z-index: 3;
    transition: var(--transition);
}

.cards .card a::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f061';
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    transition: var(--transition);
}

.cards .card:first-child:hover a,
.cards .card:first-child:hover a::after  {
    color: #2facfc;
}

.cards .card:nth-child(2):hover a,
.cards .card:nth-child(2):hover a::after  {
    color: #ea4d89;
}

.cards .card:nth-child(3):hover a,
.cards .card:nth-child(3):hover a::after {
    color: #3679ff;
}

.cards .card:nth-child(4):hover a,
.cards .card:nth-child(4):hover a::after  {
    color: #f67842;
}

.cards .card:nth-child(5):hover a,
.cards .card:nth-child(5):hover a::after  {
    color: #6b88f7;
}

.cards .card:nth-child(6):hover a,
.cards .card:nth-child(6):hover a::after  {
    color: #3bb094;
}

.cards .card:hover a::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 6.5rem;
    height: 1rem;
    z-index: -1;
    margin-left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.4rem;
    border-radius: 5rem;
}

@media (max-width: 767px) {
    .cards .card {
        text-align: center;
    }
    .cards .card:hover a::before {
        width: 7rem;
        margin-left: -1rem;
    }
}
/* end features section */
/* Start marketing section  */
.marketing {
    margin: 5rem 0;
} 

.marketing .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--alt-background);
}

.marketing .image {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.marketing .image img {
    position: relative;
    bottom: -12.9rem;
    margin-top: -12.9rem;
    width: 30rem;
    max-width: 100%;
}

@media (max-width: 991px) {
    .marketing .image img {
        display: none;
    }
    .marketing .container {
        display: grid;
        place-content: center;
        text-align: center;
    }
}

.marketing-text {
    padding-top: 4rem;
    flex-basis: 60%;
}

.marketing-text p:first-child {
    color: var(--main-color);
}

.marketing-text h2 {
    color: var(--alt-color);
    font-size: 2.5rem;
    margin: 1rem 0;
}

.marketing-text p.h2-info {
    color: var(--pragraph-color);
    line-height: 1.7;
}

@media (max-width: 767px) {
    .marketing-text h2 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .marketing-text h2 {
        font-size: 2.4rem;
    }
}

.marketing-text .p-pros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5rem;
    padding-bottom: 2rem;
}

.p-pros .pros {
    display: flex;
}

@media (max-width: 991px) {
    .marketing-text .p-pros {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .p-pros .pros {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }
}

.p-pros .pros i {
    background-color: #32c36a;
    color: white;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.pros-text h3 {
    color: var(--alt-color);
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
}

.pros-text p {
    color: var(--pragraph-color);
    line-height: 1.5;
}
/* End marketing section */

/* Start sevices section */
.services {
    background-color: var(--alt-color);
    color: white;
    padding: 3rem 0;
}

.services .main-header , .services .main-header + p{
    text-align: center;
    color: white;
}

.services .main-header + p {
    font-weight: 500;
}

.services-contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    margin-top: 3.5rem;
}

.services-contant .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-contant .boxes .box {
    border: 1px solid #54545c;
    border-radius: 0.6rem;
    padding: 1.5rem 1rem 1.5rem 3rem;
    margin-bottom: 1.2rem;
    transition: var(--transition);
}

.services-contant .boxes .box:first-child:hover {
    background-color: #ff3e66;
}

.services-contant .boxes .box:nth-child(2):hover {
    background-color: #2eacfc;
}

.services-contant .boxes .box:nth-child(3):hover {
    background-color: #33c956;
}

.services-contant .boxes .box > h3 {
    margin-bottom: 0.5rem;
    position: relative;
    font-size: 1.5rem;
}

.services-contant .boxes .box > h3::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    margin-left: -1.85rem;
    z-index: 4;
}

.services-contant .boxes .box:nth-child(2) > h3::before {
    background-color: #2eacfc;
}

.services-contant .boxes .box:nth-child(3) > h3::before {
    background-color: #33c956;
}

.services-contant .boxes .box > h3::after {
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0.3;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -12.35rem;
    z-index: 3;
}

.services-contant .boxes .box:nth-child(2) > h3::after {
    background-color: #2eacfc;
}

.services-contant .boxes .box:nth-child(3) > h3::after {
    background-color: #33c956;
}

.services-contant .boxes .box:hover > h3::after {
    background-color: white;
}

@media (max-width: 991px) {
    .services-contant .boxes .box > h3::after {
        margin-left: -11rem;
    }
}

@media (max-width: 739px) {
    .services-contant .boxes .box > h3::after {
        width: 1.4rem;
        height: 1.4rem;
        left: 9.3rem;
    }
}

.services-contant .boxes .box > p {
    color: #bbb8b8;
    font-weight: 500;
    transition: var(--transition);
}

.services-contant .boxes .box:hover > p {
    color: white;
}

.services .image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.services .image img {
    width: 87%;
}

@media (max-width: 991px) {
    .services-contant .boxes .box > h3 {
        font-size: 1.3rem;
    }
    .services-contant .boxes .box > p {
        font-size: 0.8rem;
    }
    .services .image img {
        width: 87%;
    }
}

@media (max-width: 739px) {
    .main-header {
        font-size: 1.8rem;
    }
    .main-header + p {
        font-size: 0.9rem;
        margin: 1.3rem 0 -1rem 0;
        line-height: 1.5;
    }
    .services-contant {
        display: flex;
        flex-direction: column;
    }
    .services-contant .boxes .box {
        width: 100%;
        padding: 1.1rem 0 1.1rem 2rem;
    }
    .services-contant .boxes .box h3 {
        font-size: 1.2rem;
    }
    .services-contant .boxes .box > h3::before {
        width: 0.8rem;
        height: 0.8rem;
        margin-left: -1.35rem;
    }
    .services .image {
        justify-content: center;
    }
    .services .image {
        margin-top: 1rem;
    }
    .services .image img {
        width: 65%;
    }
}
/* End sevices section */

/* Start feedback section */
.feedback {
    padding: 4rem 0;
}

.feedback-content {
    margin: 5rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feedback-content .box {
    background-color: white;
    padding: 2.5rem;
    text-align: center;
    box-shadow: #00000029 0px 20px 41px -10px;
    border-radius: 0.8rem;
    width: 12.5rem;
    margin: 1rem 0.8rem;
}

@media (min-width: 992px) {
    .feedback-content .box {
        width: 12.5rem;
    }
}

@media (max-width: 530px) {
    .feedback-content .box {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 2rem 1.5rem;
    }
}

.feedback-content .box p strong {
    display: block;
    font-size: 2.5rem;
    color: var(--alt-color);
    margin-bottom: 0.5rem;
}

@media (max-width: 755px) {
    .feedback-content .box p strong {
        font-size: 2.1rem;
    }
}

.feedback-content .box p.text {
    color: #565870;
}

.video {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

@media (max-width: 767px) {
    .video {
        display: flex;
        flex-direction: column;
    }
}

.video .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video figure .img::before {
    content: url(../images/icons8-video-64.png);
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.video figure img {
    width: 100%;
}

.video figure figcaption {
    padding: 2rem 0 2rem 4rem;
}

.video figure figcaption h3 {
    color: var(--alt-color);
    font-size: 1.8rem;
    margin-bottom: 1.1rem;
}

@media (max-width: 991px) {
    .video figure figcaption {
        padding: 2rem 0 1rem 1rem;
    }
    .video figure figcaption h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 476px) {
    .video figure figcaption h3 {
        font-size: 1.123rem;
    }
}

.video figure figcaption p {
    color: var(--pragraph-color);
    line-height: 1.4;
}

.video figure figcaption button {
    margin-top: 2.5rem;
    color: var(--alt-color);
    border: 1px solid var(--pragraph-color);
    border-radius: 3rem;
    padding: 0.8rem 2rem;
    background-color: transparent;
    transition: var(--transition);
}

.video figure figcaption button:hover {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}

.video .image {
    position: relative;
}

.video .image::before,
.video .image::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    color: var(--pragraph-color);
    background-color: transparent;
    border: 2px solid #50505640;
    padding: 1rem;
    border-radius: 51%;
    top: 18rem;
    cursor: pointer;
    transition: var(--transition);
}

@media (min-width: 1200px) {
    .video .image::before,
    .video .image::after {
        top: 22rem;
    }
}

.video .image::before {
    content: '\f060';
    right: 4rem;
}

.video .image::after {
    content: '\f061';
    right: 0;
}

@media (max-width: 991px) {
    .video .image::before,
    .video .image::after {
        top: 14rem;
    }
}

@media (max-width: 767px) {
    .video .image::before,
    .video .image::after {
        display: none;
    }
}

.video .image img {
    width: 100%;
}

@media (max-width: 767px) {
    .video .image img {
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}
/* End feedback section */

/* Start Download section */
.download {
    background-color: var(--alt-background);
    padding: 6rem 0;
}

.download p:first-child {
    color: var(--main-color);
    font-weight: 500;
}

.download h2 {
    color: var(--alt-color);
    font-size: 2.8rem;
    line-height: 1.2;
    margin: 1rem 0 1.5rem;
}

@media (max-width: 767px) {
    .download h2 {
        font-size: 2rem;
    }
}

.download p:nth-of-type(2) {
    color: var(--pragraph-color);
    max-width: 30rem;
    line-height: 1.5;
}

.download .bttn {
    margin-top: 2.5rem;
    display: flex;
}

.download .bttn button {
    border: 2px solid var(--alt-color);
    border-radius: 0.9rem;
    padding: 0.6rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

.download .bttn button:first-child {
    margin-right: 1rem;
    background-color: var(--alt-color);
    color: white;
}

.download .bttn button:nth-of-type(2) {
    background-color: white;
    color: var(--alt-color);
}

.download .bttn button:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.bttn button i {
    font-size: 2.5rem;
}

.bttn button .text {
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bttn button:first-child .text p {
    color: white;
}

.bttn button:nth-child(2) .text p {
    color: var(--alt-color);
    transition: var(--transition);
}

.bttn button:nth-child(2):hover .text p {
    color: white;
}

.bttn button .text h3 {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .download .bttn button {
        padding: 0.3rem 0.7rem;
    }
    .bttn button i {
        font-size: 1.3rem;
    }
    .bttn button:first-child .text p,
    .bttn button:nth-child(2) .text p {
        font-size: 0.9rem;
    }
    .bttn button .text h3 {
        font-size: 1rem;
    }
}
/* End Download section */
