/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Variables */
:root {
    --main-color: #ff3e66;
    --alt-color: #0e1133;
    --alt-background: #eef1f6;
    --transition: 0.3s;
}

/* Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', 'Work Sans', sans-serif;
    background-color: var(--alt-background);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Common Classes */


/* Common Elements */

/* Start Header section */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 5.149375rem;
}

.logo img {
    width: 6rem;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

@media (max-width: 767px) {
    nav {
        justify-content: flex-end;
    }
    header nav ul {
        display: none;
    }
}

nav ul li a {
    display: block;
    color: var(--alt-color);
    padding: 2rem 1.5rem;
}

nav div {
    display: flex;
    align-items: center;
}

nav button {
    background-color: var(--main-color);
    color: white;
    padding: 0.6rem 1.3rem;
    border: none;
    border-radius: 4rem;
    font-weight: 500;
}

@media (max-width: 991px) {
    nav button {
        margin-right: 1.4rem;
        padding: 0.7rem 0.5rem;
        font-size: 0.8rem;
    }
}

.toggle-menu {
    font-size: 1.4rem;
} 

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
/* End Header section */

